<div class="container-fluid">
    <div class="row mt-4">
        <div class="rounded col-3" style="background-image: url(../../../../../assets/ico_circle.svg)">
            <img src="../../../../../assets/icon_mi_empresa.svg" alt="icon_menu_empresa">
        </div>
        <div class="col-9 mt-4">
            <span style="font-size: 20px; font-weight: bold;">Empresas</span>
        </div>
    </div>

    <div class="col-10 mx-auto mt-4">
        <mat-accordion class="example-headers-align " multi>
            <!-- #enddocregion multi -->
            <mat-expansion-panel #panel1>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <div class="row align-items-center">
                            <div class="col-4" style="width: 45px; height: 34px; background: gray;">
                                <img src="../assets/icon_menu_empresa.svg" alt="icon_menu_empresa"
                                    style="vertical-align: middle;">
                            </div>
                            <div class="col-4">
                                <div class="d-flex align-items-center">Registrar</div>
                            </div>
                        </div>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div style="width: 100% !important;" *ngIf="!isLoading">
                    <form [formGroup]="companyForm" #company="ngForm" style="width: 100%;">
                        <div class="col-md-10 mx-auto col-sm-10">
                            <div class="row mt-2 text-center">
                                <div class="col-md-6  col-sm-12">
                                    <div class="form-group" style="text-align: justify; height: 100px;">
                                        <label class="labelInput">Nombre de la empresa</label>
                                        <input class="form-control mt-2" placeholder="Nombre de la empresa"
                                            formControlName="nameCompany" style="border-radius:20px ;">
                                        <div *ngIf="companyForm.get('nameCompany')?.invalid && companyForm.get('nameCompany')?.touched"
                                            class="invalid-feedback" style="display: block;">
                                            El nombre de la empresa es obligatorio.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6  col-sm-12">
                                    <div class="form-group" style="text-align: justify; height: 100px;">
                                        <label class="labelInput">Nit</label>
                                        <input class="form-control mt-2 rounded-pill" placeholder="Nit"
                                            formControlName="legalIdentifierCompany">
                                        <div [class.d-none]="companyForm.get('legalIdentifierCompany')?.valid || !companyForm.get('legalIdentifierCompany')?.touched"
                                            class="invalid-feedback">
                                            <div
                                                *ngIf="companyForm.get('legalIdentifierCompany')?.hasError('required')">
                                                El NIT es obligatorio.
                                            </div>
                                            <div *ngIf="companyForm.get('legalIdentifierCompany')?.hasError('pattern')">
                                                Ingrese solo números en el NIT.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-2 text-center">
                                <div class="col-md-6  col-sm-12">
                                    <div class="form-group" style="text-align: justify; height: 100px;">
                                        <label class="labelInput">Tipo de cliente</label>
                                        <select class="form-control mt-2" formControlName="commercialSegment"
                                            style="border-radius:20px ;">
                                            <option value="" disabled selected>Selecciona...</option>
                                            <option *ngFor="let commercialSegment of commercialSegments"
                                                [value]="commercialSegment.id">
                                                {{commercialSegment.name}}
                                            </option>
                                        </select>
                                        <div *ngIf="companyForm.get('commercialSegment')?.invalid && companyForm.get('commercialSegment')?.touched"
                                            class="invalid-feedback">
                                            Debes seleccionar un tipo de cliente.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6  col-sm-12">
                                    <div class="form-group" style="text-align: justify; height: 100px;">
                                        <label class="labelInput">Dominio empresarial</label>
                                        <input class="form-control mt-2" placeholder="Dominio empresarial"
                                            formControlName="hostnameCompany" style="border-radius:20px ;"
                                            (blur)="agregarUsuario()">
                                        <div *ngIf="companyForm.get('hostnameCompany')?.invalid && companyForm.get('hostnameCompany')?.touched"
                                            class="invalid-feedback">
                                            <div *ngIf="companyForm.get('hostnameCompany')?.hasError('required')">
                                                El dominio empresarial es obligatorio.
                                            </div>
                                            <div *ngIf="companyForm.get('hostnameCompany')?.hasError('pattern')">
                                                El dominio empresarial no tiene un formato válido.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- creacion del usuario autorizado -->
                        <div class="col-md-10 mx-auto col-sm-10" *ngIf="mostrarUsuario">
                            <mat-card>
                                <mat-card-header>
                                    <mat-card-subtitle>Agregar usuario administrador</mat-card-subtitle>
                                </mat-card-header>
                                <mat-card-content class="mt-3">
                                    <div class="">
                                        <div class="row mt-2 text-center">
                                            <div class="col-md-6  col-sm-12"
                                                style="text-align: justify; height: 100px;">
                                                <div class="form-group">
                                                    <label class="labelInput">Nombre</label>
                                                    <input class="form-control mt-2" placeholder="Nombre"
                                                        style="border-radius:20px ;"
                                                        formControlName="authorizedAgentName">
                                                    <div *ngIf="companyForm.get('authorizedAgentName')?.invalid && companyForm.get('authorizedAgentName')?.touched"
                                                        class="invalid-feedback">
                                                        El nombre es obligatorio.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6  col-sm-12"
                                                style="text-align: justify; height: 100px;">
                                                <div class="form-group">
                                                    <label class="labelInput">Apellido</label>
                                                    <input class="form-control mt-2" placeholder="Apellido"
                                                        style="border-radius:20px ;"
                                                        formControlName="authorizedAgentSurname">
                                                    <div *ngIf="companyForm.get('authorizedAgentSurname')?.invalid && companyForm.get('authorizedAgentSurname')?.touched"
                                                        class="invalid-feedback">
                                                        El apellido es obligatorio.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row mt-2">
                                            <div class="col-md-6 col-sm-12" style="text-align: center;">
                                                <div style="width: 100%;">
                                                    <div class="col-md-3  col-sm-12" style="float: left;">
                                                        <div class="form-group"
                                                            style="text-align: justify; height: 100px;">
                                                            <label class="labelInput mt-2">Tipo</label>
                                                            <select class="form-control mt-2"
                                                                formControlName="authorizedAgentIdentityDocumentType"
                                                                style="border-radius:20px ;">
                                                                <option value="" disabled selected>Selecciona...
                                                                </option>
                                                                <option *ngFor="let tipoNit of tipoNits"
                                                                    [value]="tipoNit.value">
                                                                    {{tipoNit.viewValue}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-9  col-sm-12" style="float: left;">
                                                        <div
                                                            style="text-align: justify;  margin-left: 10px; height: 100px;">
                                                            <label class="labelInput mt-2">Nº Documento</label>
                                                            <input class="form-control mt-2" placeholder="Nº Documento"
                                                                formControlName="authorizedAgentlegalIdentifier"
                                                                style="border-radius:20px ;">
                                                        </div>
                                                    </div>

                                                    <div class="row mb-2" style="clear: both;">
                                                        <div class="col-12">
                                                            <div *ngIf="companyForm.get('authorizedAgentIdentityDocumentType')?.invalid &&
                                                    companyForm.get('authorizedAgentIdentityDocumentType')?.touched"
                                                                class="invalid-feedback">
                                                                Debes seleccionar un tipo de Identificación.
                                                            </div>
                                                            <div *ngIf="companyForm.get('authorizedAgentlegalIdentifier')?.invalid &&
                                                                   companyForm.get('authorizedAgentlegalIdentifier')?.touched"
                                                                class="invalid-feedback">
                                                                <div
                                                                    *ngIf="companyForm.get('authorizedAgentlegalIdentifier')?.hasError('required')">
                                                                    El número de documento es obligatorio.
                                                                </div>
                                                                <div
                                                                    *ngIf="companyForm.get('authorizedAgentlegalIdentifier')?.hasError('pattern')">
                                                                    Ingrese solo números en el número de documento.
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6 col-sm-12" style="text-align: justify; height: 100px;">
                                                <div class="form-group" style="text-align: justify; height: 100px;">
                                                    <label class="labelInput">Correo</label>
                                                    <input class="form-control mt-2" placeholder="Correo"
                                                        formControlName="authorizedAgentMail"
                                                        style="border-radius:20px ;">
                                                    <div *ngIf="companyForm.get('authorizedAgentMail')?.invalid &&
                                                                   companyForm.get('authorizedAgentMail')?.touched"
                                                        class="invalid-feedback">
                                                        <div
                                                            *ngIf="companyForm.get('authorizedAgentMail')?.hasError('required')">
                                                            El correo es obligatorio.
                                                        </div>
                                                        <div
                                                            *ngIf="companyForm.get('authorizedAgentMail')?.hasError('email')">
                                                            Por favor, introduce un correo válido.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>

                        <div class="row mt-3">
                            <div class="col-12 text-center">
                                <button mat-raised-button color="primary" (click)="save()"
                                    [disabled]="!companyForm.valid">Guardar</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="text-center col-12">
                    <mat-spinner *ngIf="isLoading" diameter="70" strokeWidth="8" class="mx-auto"></mat-spinner>
                </div>

            </mat-expansion-panel>



            <mat-expansion-panel class="mt-2" #panel2>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <div class="row align-items-center">
                            <div class="col-4 d-flex justify-content-center align-items-center"
                                style="width: 45px; height: 34px;">
                                <mat-icon>search</mat-icon>
                            </div>
                            <div class="col-4">
                                <div class="d-flex align-items-center">Buscar</div>
                            </div>
                        </div>
                    </mat-panel-title>
                    <mat-panel-description>

                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="mt-4">
                    <app-findcompany></app-findcompany>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>
<!-- <mat-spinner *ngIf="isLoading" diameter="50" strokeWidth="8"></mat-spinner> -->