<div class="container-fluid">
  <div style="width: 90%;" class="mx-auto mt-3">
    <div class="input-group" *ngIf="!isLoading">
      <input id="buscar" type="text" class="form-control" name="buscar" placeholder="Buscar" [(ngModel)]="filter"
        style="border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-top-left-radius: 20px; border-bottom-left-radius: 20px ">
      <div class="input-group-append">
        <button class="btn" type="button" (click)="getData()"
          style="border: 1px solid #dee2e6; border-top-left-radius: 0px; border-bottom-left-radius: 0px; border-top-right-radius: 20px; border-bottom-right-radius: 20px;">
          <span class="material-icons">search</span>
        </button>
      </div>
    </div>


    <div class="table-responsive mt-4" *ngIf="!isLoading">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table table-striped">

        <!-- Columnas -->
        <ng-container matColumnDef="nit">
          <th mat-header-cell *matHeaderCellDef class="columnTable" style="width: 80px;"> Nit </th>
          <td mat-cell *matCellDef="let element" class="rowTable"> <span class="border">{{element.nit}}</span> </td>
        </ng-container>

        <ng-container matColumnDef="empresa">
          <th mat-header-cell *matHeaderCellDef class="columnTable"> Empresa </th>
          <td mat-cell *matCellDef="let element" class="rowTable"> {{element.empresa}} </td>
        </ng-container>

        <ng-container matColumnDef="dominioempresarial">
          <th mat-header-cell *matHeaderCellDef class="columnTable"> Dominio empresarial </th>
          <td mat-cell *matCellDef="let element" class="rowTable"> {{element.dominioempresarial}} </td>
        </ng-container>

        <ng-container matColumnDef="tipocliente">
          <th mat-header-cell *matHeaderCellDef class="columnTable"> Tipo de Segmentación </th>
          <td mat-cell *matCellDef="let element" class="rowTable"> {{element.tipocliente}} </td>
        </ng-container>

        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef class="columnTable"> Estado </th>
          <td mat-cell *matCellDef="let element" class="rowTable"> {{element.estado}} </td>
        </ng-container>

        <ng-container matColumnDef="accion">
          <th mat-header-cell *matHeaderCellDef class="columnTable"> </th>
          <td mat-cell *matCellDef="let element" class="rowTable">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="abrirModal(editar, element)">Editar</button>
              <button mat-menu-item (click)="opcion2()">Eliminar</button>
            </mat-menu>
          </td>

        </ng-container>

        <!-- Definición de filas -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Mostrar cuando no hay datos -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="5">No hay datos que coincidan con el filtro "{{filter}}"</td>
        </tr>
      </table>
      <mat-paginator #paginator [pageSizeOptions]="[2, 4, 6]" showFirstLastButtons></mat-paginator>
    </div>
    <div class="text-center col-12">
      <mat-spinner *ngIf="isLoading" diameter="70" strokeWidth="8" class="mx-auto"></mat-spinner>
    </div>
  </div>
</div>


<!-- Contenido de la modal -->
<ng-template #editar let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Editar</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">

    <div class="row">
      <div class="form-group col-6" style="text-align: justify; height: 100px;">
        <label class="labelInput">Empresa</label>
        <input class="form-control mt-2" placeholder="Nit" style="border-radius:20px ;">
      </div>
      <div class="form-group col-6" style="text-align: justify; height: 100px;">
        <label class="labelInput">Dominio empresarial</label>
        <input class="form-control mt-2" placeholder="Dominio empresarial" style="border-radius:20px ;">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-6" style="text-align: justify; height: 100px;">
        <label class="labelInput">Tipo de cliente</label>
        <select class="form-control mt-2" formControlName="commercialSegment" style="border-radius:20px ;">
          <option value="" disabled selected>Selecciona...</option>
          <option *ngFor="let commercialSegment of commercialSegments" [value]="commercialSegment.id">
            {{commercialSegment.name}}
          </option>
        </select>
      </div>
      <div class="form-group col-6" style="text-align: justify; height: 100px;">
        <div class="row text-center">
          <label class="labelInput">Estado</label>
        </div>
        <div class="row text-center mt-3">
          <mat-slide-toggle></mat-slide-toggle>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Cerrar</button>
    <button type="button" class="btn btn-primary">Guardar cambios</button>
  </div>
</ng-template>